flask==2.3.3
sigma-cli==0.7.6
pysigma==0.9.11
pysigma-backend-carbonblack==0.1.4
pysigma-backend-cortexxdr==0.1.1
pysigma-backend-elasticsearch==1.0.6
pysigma-backend-opensearch==1.0.1
pysigma-backend-qradar==0.3.3
pySigma-backend-QRadar-AQL==0.2.3
pysigma-backend-sentinelone==0.1.2
pysigma-backend-sentinelone-pq==0.1.1
pysigma-backend-splunk==1.0.3
pysigma-backend-insightidr==0.2.2
pysigma-backend-loki==0.9.1
pysigma-pipeline-crowdstrike==1.0.1
pysigma-pipeline-sysmon==1.0.3
pysigma-pipeline-windows==1.1.1
