flask==2.3.3
sigma-cli==0.7.7
pysigma==0.10.5
#pysigma-backend-carbonblack==0.1.4
#pysigma-backend-cortexxdr==0.1.1
pysigma-backend-elasticsearch==1.0.5
pysigma-backend-opensearch==1.0.0
#pysigma-backend-qradar==0.3.3
#pysigma-backend-qradar-aql==0.2.3
#pysigma-backend-sentinelone==0.1.2
#pysigma-backend-sentinelone-pq==0.1.1
pysigma-backend-splunk==1.0.2
pysigma-backend-insightidr==0.2.2
pysigma-pipeline-crowdstrike==1.0.1
pysigma-pipeline-sysmon==1.0.3
pysigma-pipeline-windows==1.1.1
